<%include ../userhead %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
<script type="text/javascript" src="/scripts/add.js"></script>
<div class="section">
	<div class="container has-text-centered">
		<h1 class="title is-2">Conference Paper</h1>

		<form action="/users/submit/conference" method="POST" id="main">

			<div class="field has-text-centered">
					<div class="subtitle">Add or remove Authors</div>
					<a class="button is-medium" id="addAuthor" onclick="addAuthor()">Add</a>
					<a class="button is-medium" id="addAuthor" onclick="deleteAuthor()">Delete</a>
			</div>


		<div class="field" id="authors">
				<div class="field is-horizontal">
						<div class="field-label is-medium">
							<label class="label">Author 1</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control">
										<input class="input is-medium" type="text" name="author1" id="author1"/>
								</div>
								<div class="messages">
								</div>
							</div>
						</div>
				</div>
		</div>

		<hr>

			<div class="field is-horizontal">
					<div class="field-label is-medium">
					  <label class="label">Type of Conference</label>
					</div>
					<div class="field-body">
					  <div class="field">
							<div class="control">
									<div class="select is-medium">
										<select id="conferenceType" name="conferenceType">
											<option value="national">National</option>
											<option value="international">International</option>
										</select>
									</div>
							</div>
							<div class="messages">
							</div>
					  </div>
					</div>
			</div>
		
		<div class="field is-horizontal">
			<div class="field-label is-medium">
			  <label class="label">Research Area</label>
			</div>
			<div class="field-body">
			  <div class="field">
				<div class="control">
				  <input class="input is-medium" type="text" id="researchArea" name="researchArea" placeholder="e.g: Nobel Prize">
				</div>
				<div class="messages">
				</div>
			  </div>
			</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Project Name (If Associated)</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" id="projectName" name="projectName" placeholder="e.g: The EU">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Title of Paper</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" id="title" name="title" placeholder="e.g: The EU">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">DOI</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" id="doi" name="doi" placeholder="e.g: The EU">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">ISBN</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" id="isbn" name="isbn" placeholder="e.g: The EU">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Name of Conference</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" id="conferenceName" name="conferenceName" placeholder="e.g: The EU">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Name of Organizer</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" id="organiser" name="organiser" placeholder="e.g: The EU">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Conference Date from</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="date" id="fromDate" name="fromDate" placeholder="e.g: Nobel Prize">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Conference Date to</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="date" id="toDate" name="toDate" placeholder="e.g: Nobel Prize">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Conference Venue</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" id="venue" name="venue" placeholder="e.g: mbst.com">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Pages</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" id="pages" name="pages" placeholder="e.g: The EU">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Abstract</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" id="abstract" name="abstract" placeholder="e.g: mbst.com">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Keywords</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" id="keywords" name="keywords" placeholder="e.g: mbst.com">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">URL</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" id="url" name="url" placeholder="e.g: mbst.com">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Additional Information</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <textarea class="textarea is-medium" id="info" name="info" placeholder="e.g: Experience was nice"></textarea>
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>

		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Upload Paper</label>
				</div>
				<div class="field-body">
						<div class="field">
								<div class="file is-dark has-name">
								  <label class="file-label">
									<input class="file-input" type="file" id="paperFile" name="paperFile">
									<span class="file-cta">
									  <span class="file-icon">
										<i class="fas fa-upload"></i>
									  </span>
									  <span class="file-label">
										Paper File
									  </span>
									</span>
									<span class="file-name">
									  File not uploaded
									</span>
								  </label>
								</div>
								<div class="messages">
								</div>
							  </div>
				</div>
		</div>

		<div class="field is-grouped is-grouped-centered">
				<div class="control">
				  <button class="button is-medium is-dark" type="submit">
					  Submit
					</button>
				</div>
				<div class="control">
				  <button class="button is-medium is-light" type="reset">
					Cancel
				  </button>
				</div>
			  </div>
		</form>
		<script type="text/javascript" src="/scripts/monitors/conferenceSpec.js"></script>
    <script type="text/javascript" src="/scripts/monitors/formMonitor.js"></script>
	</div>
</div>