<nav class="navbar is-dark" role="navigation">
		<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="/homepage">
						<span class="icon is-large">
							<i class="fas fa-3x fa-bolt"></i>
						</span>
					</a>
					<a class="navbar-item" href="/homepage">
						<h1 class="is-size-1 has-text-weight-semibold">
							Libellus
						</h1>
					</a>
				</div>
				<div class="navbar-menu">
					<div class="navbar-end">
						<div class="navbar-item">
							<h1 class="is-size-2">Parinith R Iyer</h1>
						</div>
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link">
								<span class="icon is-large">
									<i class="fas fa-2x fa-user"></i>
								</span>
							</a>
							<div class="navbar-dropdown">
								<a class="navbar-item"><h1 class="subtitle has-text-black">Profile</h1></a>
								<a class="navbar-item" href="/users/logout"><h1 class="subtitle has-text-black">Logout</h1></a>
							</div>
						</div>
					</div>
				</div>
			</div>
</nav>

<div class="section">
	<div class="container has-text-centered">
		<h1 class="title is-2">Conference Paper</h1>

		<h1 class="subtitle"> Author 1, Author 2, Author3 pending...</h1>

		<form action="something" method="POST" enctype="multipart/form-data">

			<div class="field is-horizontal">
					<div class="field-label is-medium">
					  <label class="label">Type of Conference</label>
					</div>
					<div class="field-body">
					  <div class="field">
							<div class="control">
									<div class="select is-medium">
										<select>
											<option value="national">National</option>
											<option value="international">International</option>
										</select>
									</div>
							</div>
					  </div>
					</div>
			</div>
		
		<div class="field is-horizontal">
			<div class="field-label is-medium">
			  <label class="label">Research Area</label>
			</div>
			<div class="field-body">
			  <div class="field">
				<div class="control">
				  <input class="input is-medium" type="text" placeholder="e.g: Nobel Prize">
				</div>
			  </div>
			</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Project Name (If Associated)</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" placeholder="e.g: The EU">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Title of Paper</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" placeholder="e.g: The EU">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Name of Conference</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" placeholder="e.g: The EU">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Name of Organizer</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" placeholder="e.g: The EU">
					</div>
				  </div>
				</div>
		</div>
		
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Conference Date from</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="date" placeholder="e.g: Nobel Prize">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Conference Date to</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="date" placeholder="e.g: Nobel Prize">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Conference Venue</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" placeholder="e.g: mbst.com">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Pages</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" placeholder="e.g: The EU">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Abstract</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" placeholder="e.g: mbst.com">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Keywords</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" placeholder="e.g: mbst.com">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">URL</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" placeholder="e.g: mbst.com">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Additional Information</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <textarea class="textarea is-medium" placeholder="e.g: Experience was nice"></textarea>
					</div>
				  </div>
				</div>
		</div>

		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Upload Paper</label>
				</div>
				<div class="field-body">
						<div class="field">
								<div class="file is-dark has-name">
								  <label class="file-label">
									<input class="file-input" type="file" name="resume">
									<span class="file-cta">
									  <span class="file-icon">
										<i class="fas fa-upload"></i>
									  </span>
									  <span class="file-label">
										Paper File
									  </span>
									</span>
									<span class="file-name">
									  File not uploaded
									</span>
								  </label>
								</div>
							  </div>
				</div>
		</div>

		<div class="field is-grouped is-grouped-centered">
				<div class="control">
				  <button class="button is-medium is-dark" type="submit">
					  Submit
					</button>
				</div>
				<div class="control">
				  <button class="button is-medium is-light" type="submit">
					Cancel
				  </button>
				</div>
			  </div>
		</form>
	</div>
</div>