<% include ../userhead %>
<script type="text/javascript" src="/scripts/add.js"></script>
<div class="section">
	<div class="container has-text-centered">
		<h1 class="title is-2">Journal</h1>

		<form action="/users/submit/journal" method="POST" id="main">

			<div class="field has-text-centered">
					<div class="subtitle">Add or remove Authors</div>
						<a class="button is-medium" id="addAuthor" onclick="addAuthor()">Add</a>
						<a class="button is-medium" id="deleteAuthor" onclick="deleteAuthor()">Delete</a>
			</div>


			<div class="field" id="authors">
					<div class="field is-horizontal">
							<div class="field-label is-medium">
								<label class="label">Author 1</label>
							</div>
							<div class="field-body">
								<div class="field">
									<div class="control">
											<input class="input is-medium" type="text" name="author1" id="author1" />
									</div>
									<div class="messages">
                  </div>
								</div>
							</div>
					</div>
			</div>
			
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Type of Journal*</label>
				</div>
				<div class="field-body">
				  <div class="field">
						<div class="control">
								<div class="select is-medium">
									<select id="type" name="type">
										<option value="national">National</option>
										<option value="international">International</option>
									</select>
								</div>
						</div>
						<div class="messages">
						</div>
				  </div>
				</div>
		</div>
		
		<div class="field is-horizontal">
			<div class="field-label is-medium">
			  <label class="label">Research Area</label>
			</div>
			<div class="field-body">
			  <div class="field">
				<div class="control">
				  <input class="input is-medium" type="text" name="researchArea" id="researchArea" placeholder="e.g: Nobel Prize"/>
				</div>
				<div class="messages">
				</div>
			  </div>
			</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Project Name (If Associated)</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="projectName" id="projectName" placeholder="e.g: The EU"/>
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Title of Paper*</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="paperTitle" id="paperTitle" placeholder="e.g: The EU"/>
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">DOI</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="doi" id="doi" placeholder="e.g: The EU">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">ISBN</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="isbn" id="isbn" placeholder="e.g: The EU">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Name of Journal</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="journalName" id="journalName" placeholder="e.g: The EU"/>
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Date of publishing</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="date" name="dateOfPublish" id="dateOfPublish" placeholder="e.g: Nobel Prize">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Pages</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="pages" id="pages" placeholder="e.g: The EU">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Abstract</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <textarea class="textarea is-medium" type="text" name="abstract" id="abstract" placeholder="e.g: mbst.com"></textarea>
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Keywords</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="keywords" id="keywords" placeholder="e.g: mbst.com">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Volume</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="volume" id="volume" placeholder="e.g: mbst.com">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Issue</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="issue" id="issue" placeholder="e.g: mbst.com">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Impact Factor</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="impactFactor" id="impactFactor" placeholder="e.g: mbst.com">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Citation Index</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="citationIndex" id="citationIndex" placeholder="e.g: mbst.com">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">URL</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="url" id="url" placeholder="e.g: mbst.com">
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Additional Information</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <textarea class="textarea is-medium" name="info" id="info" placeholder="e.g: Experience was nice"></textarea>
					</div>
					<div class="messages">
					</div>
				  </div>
				</div>
		</div>

		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Upload Paper</label>
				</div>
				<div class="field-body">
						<div class="field">
								<div class="file is-dark has-name">
								  <label class="file-label">
									<input class="file-input" type="file" name="paperFile" id="paperFile" >
									<span class="file-cta">
									  <span class="file-icon">
										<i class="fas fa-upload"></i>
									  </span>
									  <span class="file-label">
										Paper File
									  </span>
									</span>
									<span class="file-name">
									  File not uploaded
									</span>
								  </label>
								</div>
								<div class="messages">
								</div>
							  </div>
				</div>
		</div>

		<div class="field is-grouped is-grouped-centered">
				<div class="control">
				  <button class="button is-medium is-dark" type="submit">
					  Submit
					</button>
				</div>
				<div class="control">
				  <button class="button is-medium is-light" type="reset">
					Cancel
				  </button>
				</div>
			  </div>
			</form>
			<script type="text/javascript" src="/scripts/monitors/journalSpec.js"></script>
    	<script type="text/javascript" src="/scripts/monitors/formMonitor.js"></script>
	</div>
</div>