<% include ../userhead %>
<script type="text/javascript" src="/scripts/add.js"></script>
<div class="section">
	<div class="container has-text-centered">
		<h1 class="title is-2">Journal</h1>

		<form action="something" method="POST" enctype="multipart/form-data">

			<div class="field has-text-centered">
					<div class="subtitle">Add or remove Authors</div>
						<a class="button is-medium" id="addAuthor" onclick="addAuthor()">Add</a>
						<a class="button is-medium" id="addAuthor" onclick="deleteAuthor()">Delete</a>
			</div>


			<div class="field" id="authors">
					<div class="field is-horizontal">
							<div class="field-label is-medium">
								<label class="label">Author 1</label>
							</div>
							<div class="field-body">
								<div class="field">
									<div class="control">
											<input class="input is-medium" type="text" name="author1"/>
									</div>
								</div>
							</div>
					</div>
			</div>
			
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Type of Journal*</label>
				</div>
				<div class="field-body">
				  <div class="field">
						<div class="control">
								<div class="select is-medium">
									<select name="journalType">
										<option value="national">National</option>
										<option value="international">International</option>
									</select>
								</div>
						</div>
				  </div>
				</div>
		</div>
		
		<div class="field is-horizontal">
			<div class="field-label is-medium">
			  <label class="label">Research Area</label>
			</div>
			<div class="field-body">
			  <div class="field">
				<div class="control">
				  <input class="input is-medium" type="text" name="researchArea" placeholder="e.g: Nobel Prize"/>
				</div>
			  </div>
			</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Project Name (If Associated)</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="projectName" placeholder="e.g: The EU"/>
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Title of Paper*</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="paperTitle" placeholder="e.g: The EU"/>
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">DOI</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="doi" placeholder="e.g: The EU">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">ISBN</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="isbn" placeholder="e.g: The EU">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Name of Journal*</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="journalName" placeholder="e.g: The EU"/>
					</div>
				  </div>
				</div>
		</div>
		
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Date of publishing*</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="date" name="dateOfPublish" placeholder="e.g: Nobel Prize">
					</div>
				  </div>
				</div>
		</div>
		
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Pages*</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="pages" placeholder="e.g: The EU">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Abstract*</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <textarea class="textarea is-medium" type="text" name="abstract" placeholder="e.g: mbst.com"></textarea>
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Keywords*</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="keywords" placeholder="e.g: mbst.com">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Volume*</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="volume" placeholder="e.g: mbst.com">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Issue*</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="issue" placeholder="e.g: mbst.com">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Impact Factor</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="impactFactor" placeholder="e.g: mbst.com">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Citation Index</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="citationIndex" placeholder="e.g: mbst.com">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">URL</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <input class="input is-medium" type="text" name="url" placeholder="e.g: mbst.com">
					</div>
				  </div>
				</div>
		</div>
		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Additional Information</label>
				</div>
				<div class="field-body">
				  <div class="field">
					<div class="control">
					  <textarea class="textarea is-medium" name="info" placeholder="e.g: Experience was nice"></textarea>
					</div>
				  </div>
				</div>
		</div>

		<div class="field is-horizontal">
				<div class="field-label is-medium">
				  <label class="label">Upload Paper*</label>
				</div>
				<div class="field-body">
						<div class="field">
								<div class="file is-dark has-name">
								  <label class="file-label">
									<input class="file-input" type="file" name="paperFile">
									<span class="file-cta">
									  <span class="file-icon">
										<i class="fas fa-upload"></i>
									  </span>
									  <span class="file-label">
										Paper File
									  </span>
									</span>
									<span class="file-name">
									  File not uploaded
									</span>
								  </label>
								</div>
							  </div>
				</div>
		</div>

		<div class="field is-grouped is-grouped-centered">
				<div class="control">
				  <button class="button is-medium is-dark" type="submit">
					  Submit
					</button>
				</div>
				<div class="control">
				  <button class="button is-medium is-light" type="submit">
					Cancel
				  </button>
				</div>
			  </div>
			</form>
	</div>
</div>