<section class="hero is-link is-fullheight">

    <div class="hero-head">
      <% include userhead %>
    </div>

      <div class="hero-body">
        <div class="container">
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-parent">
              <a class="tile is-child box notification is-dark" href="/users/search">
                <h1 class="title has-text-centered">Search</h1>
                <p class="subtitle has-text-centered">
                  Powerful Search for the whole database
                </p>
              </a>
              <a class="tile is-child box notification is-dark">
                <h1 class="title has-text-centered">Analytics</h1>
                <p class="subtitle has-text-centered">
                  Visualize the activity across the organization
                </p>
              </a>
            </div>
            <div class="tile is-vertical is-parent">
              <a class="tile is-child box notification is-dark" href="/users/submit">
                <h1 class="title has-text-centered">Submit</h1>
                <p class="subtitle has-text-centered">
                  Add something new to your portfolio
                </p>
              </a>
              <a class="tile is-child box notification is-dark">
                <h1 class="title has-text-centered">Maybe Something</h1>
                <p class="subtitle has-text-centered">
                  No spoilers
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>