<section class="hero is-link is-fullheight">

    <div class="hero-head">
      <nav class="navbar is-link" role="navigation">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <span class="icon is-large">
                <i class="fas fa-3x fa-bolt"></i>
              </span>
            </a>
            <a class="navbar-item">
              <h1 class="title is-1">
                Libellus
              </h1>
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <h1 class="title" id="username"><%=username%></h1>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  <span class="icon is-large">
                    <i class="fas fa-2x fa-user"></i>
                  </span>
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item"><h1 class="subtitle has-text-black">Profile</h1></a>
                  <a class="navbar-item" href="/users/logout"><h1 class="subtitle has-text-black" >Logout</h1></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

      <div class="hero-body">
        <div class="container">
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-parent">
              <a class="tile is-child box notification is-dark">
                <h1 class="title has-text-centered">Search</h1>
                <p class="subtitle has-text-centered">
                  Powerful Search for the whole database
                </p>
              </a>
              <a class="tile is-child box notification is-dark">
                <h1 class="title has-text-centered">Analytics</h1>
                <p class="subtitle has-text-centered">
                  Visualize the activity across the organization
                </p>
              </a>
            </div>
            <div class="tile is-vertical is-parent">
              <a class="tile is-child box notification is-dark" href="/users/submit">
                <h1 class="title has-text-centered">Submit</h1>
                <p class="subtitle has-text-centered">
                  Add something new to your portfolio
                </p>
              </a>
              <a class="tile is-child box notification is-dark">
                <h1 class="title has-text-centered">Maybe Something</h1>
                <p class="subtitle has-text-centered">
                  No spoilers
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
