<section class="hero is-danger is-fullheight">
		<div class="hero-head">
			<div class="navbar is-danger" role="navigation">
				<nav class="container">
					<div class="navbar-brand">
						<div class="navbar-item">
							<span class="icon is-large">
								<i class="fas fa-3x fa-bolt"></i>
							</span>
						</div>
						<div class="navbar-item">
						<h1 class="title is-1">
							Libellus
						</h1>
						</div>
					</div>
					<div class="navbar-menu">
						<div class="navbar-end">
							<span class="navbar-item">
								<h1 class="subtitle">
									Maybe Some Awsome Website
								</h1>
							</span>
							<span class="navbar-item">
								<a class="button is-danger is-inverted is-medium" href="/users/register" method="get">
									<span class="icon">
										<i class="fas fa-user"></i>
									</span>
									<span>
										Sign Up
									</span>
								</a>
							</span>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="hero-body">
			<div class="container">
				<div class="columns is-vcentered">
					<div class="column has-text-centered">
						<h1 class="title is-2">
							In the works for placeholder text
						</h1>
					</div>
					<form action="/" method="post">
					<div class="column ">
						<div class="box">
							<h1 class="title has-text-black has-text-centered is-2">Already a user?</h1>
							<div class="field">
								<label class="label">Email</label>
								<div class="control has-icons-left has-icons-right">
									<input class="input is-medium" name="email" type="email" placeholder="e.g: parinithriyer@rvce.edu.in">
									<span class="icon is-small is-left">
											<i class="fas fa-envelope"></i>
									</span>
									<span class="icon is-small is-right">
										<i class="fas fa-check"></i>
									</span>
								</div>
							</div>
							<div class="field">
								<label class="label">Password</label>
								<div class="control has-icons-left">
									<input class="input is-medium" name="password" type="password" placeholder="e.g: ThanosDidNothingWrong">
									<span class="icon is-small is-left">
										<i class="fas fa-lock"></i>
									</span>
								</div>
								<a href=""><p class="help is-link">Forgot Password?</p></a>
							</div>
							<div class="field">
								<label class="checkbox">
									<input type="checkbox">
									Remember Me
								</label>
							</div>
							<div class="field has-text-centered">
								<input class="button is-danger is-large" type="submit" value="Log In">
							</div>
						</div>
					</div>
				</form>
				</div>
			</div>
		</div>
		<div class="hero-foot">
		</div>
	</section>