<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Libellus</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
	
	<!-- <link rel="stylesheet" type="text/css" media="screen" href="/look.css" /> -->
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	
</head>
<body>

<%- body -%>

</body>
</html>