<% include userhead %>
<div class="section">
	<div class="container">
		<form action="something" method="POST">
			<input class="input is-large" type="text" placeholder="Enter Search String">
		</form>
	</div>
</div>

<div class="section">
	<div class="container">
		<h1 class="title">Search Results...</h1>
	</div>
</div>