<% include userhead %>
<div class="section">
	<div class="container">
		<form action="/users/search" method="POST">
			<input class="input is-large" type="text" name="search" placeholder="Enter Search String">
		</form>
	</div>
</div>

<div class="section">
	<div class="container">
		<h1 class="title">Search Results...</h1>
	</div>
</div>
<% if(hits!=[]&&hits!=undefined){
%>
<h1> <%= JSON.stringify(hits)%></h1>
<div class="content">
	<div class="container">
	<table  is-fullwidth class="table">
		<thead>
		<tr>
			<th><abbr>Name</abbr></th>
			<th>Department</th>
			<th><abbr>E-Mail</abbr></th>
		</tr>
		</thead>
		<tbody>
<%
	hits.forEach( ele =>{
%>
		<tr>
			<td><%=ele._source.fname+' '+ele._source.lname %></td>
			<td><%=ele._source.department%></td>
			<td><%=ele._source.email%></td>
		</tr>
<%	})%>
	</tbody>
<%} %>