<% include userhead %>
<div class="section">
	<div class="container">
		<form action="/users/search" method="POST">
			<input class="input is-large" type="text" name="search" placeholder="Enter Search String">
		</form>
	</div>
</div>

<div class="section">
	<div class="container">
		<h1 class="title">Search Results...</h1>
	</div>
</div>
<% if(hits!=[]&&hits!=undefined){
%>

<br>
<div class="content">
	<div class="container">
	
<%
	hits.forEach( ele =>{
%>
		<div class="box">
			<div class="level">
				<div class="level-left">
					<div class="level-item">
						<div>
						<% for(const item in ele.info.main) {%>
							<p class="title"> <%= ele.info.main[item]%></p>
						<%}%>
						<!-- </div>
					</div>
					<div class="level-item">
						<div> -->
						<% for(const item in ele.info.aux) {%>
							<p class="subtitle"> <%= ele.info.aux[item]%></p>
						<%}%>
						</div>
					</div>
				</div>
				<div class="level-right">
					<div class="level-item">
						<p class="subtitle is-3"><%= ele.type %></p>
					</div>
				</div>
			</div>
		</div>
<%	})%>
	
<%} %>
	</div>
</div>

<br>