<nav class="navbar is-danger" role="navigation">
	<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="/users/homepage">
					<span class="icon is-large">
						<i class="fas fa-3x fa-bolt"></i>
					</span>
				</a>
				<a class="navbar-item" href="/users/homepage">
					<h1 class="is-size-1 has-text-weight-semibold">
						Libellus
					</h1>
				</a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-end">
					<div class="navbar-item">
						<h1 class="is-size-2">Parinith R Iyer</h1>
					</div>
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							<span class="icon is-large">
								<i class="fas fa-2x fa-user"></i>
							</span>
						</a>
						<div class="navbar-dropdown">
							<a class="navbar-item"><h1 class="subtitle has-text-black">Profile</h1></a>
							<a class="navbar-item" href="/users/logout"><h1 class="subtitle has-text-black">Logout</h1></a>
						</div>
					</div>
				</div>
			</div>
		</div>
</nav>

<div class="section">
<div class="container">
<div class="tile is-ancestor is-vertical has-text-centered">
	
	<div class="tile">
		<!-- <div class="tile is-parent">
			<a class="tile is-child notification is-link" href="award.html">
				<span class="icon is-large">
					<i class="fas fa-award fa-3x"></i>
				</span>
				<h1 class="title">Award</h1>
				<p class="subtitle">Description</p>
				<div class="content">
					<p>Explaining some stuff</p>
				</div>
			</a>
		</div>
		<div class="tile is-parent">
			<a class="tile is-child notification is-success" href="book.html">
					<span class="icon is-large">
							<i class="fas fa-book-open fa-3x"></i>
						</span>
					<h1 class="title">Book</h1>
					<p class="subtitle">Description</p>
					<div class="content">
						<p>Explaining some stuff</p>
					</div>
			</a>
		</div>
		<div class="tile is-parent">
			<a class="tile is-child notification is-danger" href="commservice.html">
					<span class="icon is-large">
							<i class="fas fa-hands-helping fa-3x"></i>
						</span>
					<h1 class="title">Community Service</h1>
					<p class="subtitle">Description</p>
					<div class="content">
						<p>Explaining some stuff</p>
					</div>
			</a>
			</div> -->
		<div class="tile is-parent">
			<a class="tile is-child notification is-warning" href="/users/submit/conference">
					<span class="icon is-large">
							<i class="fas fa-users fa-3x"></i>
						</span>
					<h1 class="title">Conference</h1>
					<p class="subtitle">Description</p>
					<div class="content">
						<p>Explaining some stuff</p>
					</div>
			</a>
		</div>
	</div>
	<!--
	<div class="tile">
			<div class="tile is-parent">
				<a class="tile is-child notification is-primary" href="consultancy.html">
						<span class="icon is-large">
								<i class="fas fa-star fa-3x"></i>
							</span>
						<h1 class="title">Consultancy Projects</h1>
						<p class="subtitle">Description</p>
						<div class="content">
							<p>Explaining some stuff</p>
						</div>
				</a>
			</div>
			<div class="tile is-parent">
				<a class="tile is-child notification is-info" href="courses.html">
						<span class="icon is-large">
								<i class="fas fa-book fa-3x"></i>
							</span>
						<h1 class="title">Courses</h1>
						<p class="subtitle">Description</p>
						<div class="content">
							<p>Explaining some stuff</p>
						</div>
				</a>
			</div>
			<div class="tile is-parent">
				<a class="tile is-child notification is-black" href="faculty.html">
						<span class="icon is-large">
								<i class="fas fa-exchange-alt fa-3x"></i>
							</span>
						<h1 class="title">Faculty Exchange</h1>
						<p class="subtitle">Description</p>
						<div class="content">
							<p>Explaining some stuff</p>
						</div>
				</a>
				</div>
			<div class="tile is-parent">
				<a class="tile is-child notification is-link" href="governance.html">
						<span class="icon is-large">
								<i class="fas fa-landmark fa-3x"></i>
							</span>
						<h1 class="title">Governance</h1>
						<p class="subtitle">Description</p>
						<div class="content">
							<p>Explaining some stuff</p>
						</div>
				</a>
			</div>
	</div> -->
	<div class="tile">
				
				<!-- <div class="tile is-parent">
					<a class="tile is-child notification is-danger" href="invitedtalk.html">
							<span class="icon is-large">
									<i class="fas fa-volume-up fa-3x"></i>
								</span>
							<h1 class="title">Invited Talk</h1>
							<p class="subtitle">Description</p>
							<div class="content">
								<p>Explaining some stuff</p>
							</div>
					</a>
				</div> -->
				<div class="tile is-parent">
					<a class="tile is-child notification is-link" href="/users/submit/journal">
							<span class="icon is-large">
									<i class="fas fa-pen-fancy fa-3x"></i>
								</span>
							<h1 class="title">Journal</h1>
							<p class="subtitle">Description</p>
							<div class="content">
								<p>Explaining some stuff</p>
							</div>
					</a>
				</div>
				<!-- <div class="tile is-parent">
					<a class="tile is-child notification is-warning" href="patent.html">
							<span class="icon is-large">
									<i class="fas fa-check-double fa-3x"></i>
								</span>
							<h1 class="title">Patent</h1>
							<p class="subtitle">Description</p>
							<div class="content">
								<p>Explaining some stuff</p>
							</div>
					</a>
					</div>
				<div class="tile is-parent">
					<a class="tile is-child notification is-primary" href="profmem.html">
							<span class="icon is-large">
									<i class="fas fa-id-card fa-3x"></i>
								</span>
							<h1 class="title">Professor Membership</h1>
							<p class="subtitle">Description</p>
							<div class="content">
								<p>Explaining some stuff</p>
							</div>
					</a>
				</div> -->
	</div>
	<!--
	<div class="tile">
					<div class="tile is-parent">
						<a class="tile is-child notification is-success" href="project.html">
								<span class="icon is-large">
										<i class="fas fa-project-diagram fa-3x"></i>
									</span>
								<h1 class="title">Project</h1>
								<p class="subtitle">Description</p>
								<div class="content">
									<p>Explaining some stuff</p>
								</div>
						</a>
					</div>
					<div class="tile is-parent">
						<a class="tile is-child notification is-danger" href="review.html">
								<span class="icon is-large">
										<i class="fas fa-glasses fa-3x"></i>
									</span>
								<h1 class="title">Review</h1>
								<p class="subtitle">Description</p>
								<div class="content">
									<p>Explaining some stuff</p>
								</div>
						</a>
					</div>
					<div class="tile is-parent">
						<a class="tile is-child notification is-info" href="seminar.html">
								<span class="icon is-large">
										<i class="fas fa-chalkboard-teacher fa-3x"></i>
									</span>
								<h1 class="title">Seminar</h1>
								<p class="subtitle">Description</p>
								<div class="content">
									<p>Explaining some stuff</p>
								</div>
						</a>
						</div>
					<div class="tile is-parent">
						<a class="tile is-child notification is-dark">
								<span class="icon is-large">
										<i class="fas fa-star-of-life fa-3x"></i>
									</span>
								<h1 class="title">Maybe Something</h1>
								<p class="subtitle">Description</p>
								<div class="content">
									<p>Explaining some stuff</p>
								</div>
							</a>
						</div>
	</div>
</div>	
</div>
</div>