<nav class="navbar is-dark" role="navigation">
	<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="/users/homepage">
					<span class="icon is-large">
						<i class="fas fa-3x fa-bolt"></i>
					</span>
				</a>
				<a class="navbar-item" href="/users/homepage">
					<h1 class="is-size-1 has-text-weight-semibold">
						Libellus
					</h1>
				</a>
			</div>
			<div class="navbar-menu">
				<div class="navbar-end">
					<div class="navbar-item">
						<h1 class="title has-text-white"><%=(global.username)%></h1>
					</div>
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							<span class="icon is-large">
								<i class="fas fa-2x fa-user"></i>
							</span>
						</a>
						<div class="navbar-dropdown">
							<a class="navbar-item"><h1 class="subtitle has-text-black">Profile</h1></a>
							<a class="navbar-item" href="/users/logout"><h1 class="subtitle has-text-black">Logout</h1></a>
						</div>
					</div>
				</div>
			</div>
		</div>
</nav>